@import './box/main';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Livvic', sans-serif;

}
ul li{
    list-style: none;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}