.info{
    background-image: url(../img/clients-bg.png);
    background-color: #012F34;
    padding: 150px;
    background-repeat: no-repeat;

}
.info__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info__title{
    color: #fff;
    font-style: italic;
    font-size: 48px;
    line-height: 50px;
    font-weight: 700;
    margin-bottom: 70px;
}