.main{
    background-color: #F67E7E;
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(../img/pos\(3\).png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.main__list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main__title{
    color: #012F34;
    font-weight: 700;
    font-style:normal;
    font-size: 34px;
    line-height: 34px;
}
.main__text{
    border: 2px solid #012F34;
    padding: 11px 35px;
    border-radius: 35px;
    cursor: pointer;
    transition: all ease 0.5s;
}
.main__text:hover{
    border: 2px solid #fff;
    background-color: #012F34;
}
.main__text > a:hover{
    color:#F67E7E
}